(
    default_img: "default.png",
    name: "Migouche Custom",
    sounds: [
        (
            name: "PootisEngage",
            wav: "POOTIS ENGAGE.wav",
            img: Some("POOTIS ENGAGE.png")
        ),
        (
            name: "Maybe",
            wav: "Maybe.wav",
            img: None
        )
    ]
)
