(
    default_img: "madara.png",
    name: "Migouche Custom",
    sounds: [
        (
            name: "Stop It",
            wav: "stop it.wav",
            img: Some("stopit.jpg")
        ),
        (
            name: "Epic Sax Guy",
            wav: "sax.wav",
            img: Some("sax.png")
        ),
        (
            name: "DISCUSTING",
            wav: "discusting.wav",
            img: None
        )
    ]
)
