(
    default_img: "default.png",
    name: "Migouche Custom",
    sounds: [
        (
            name: "Stop it",
            wav: "stop it.wav",
            img: Some("stopit.png")
        )
    ]
)
